<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="birth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="goden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="katgodn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="indx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="city" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="district" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="country" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="street" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="house" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="homePhone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="citizenship" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passpSeries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passpNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passpKemVidan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passpDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="groupName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="otdelenie" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prikazNumIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dateIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prikazNumOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dateOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prichinaOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prikazNumKval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="akademotpusk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Note" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>